body{
  margin: 0;
  padding: 0;
  background-position: cover;
  background-color: rgb(44, 47, 48);
  background-repeat: no-repeat;
  background-size: cover;
  height: 2000px;
   
}
li a{
  color: rgb(172, 148, 17);
}

li 
{
  display: flex;
  padding: 30px;
  float: right;
  font-size: 24px;
  font-family: sans-serif;
 
}
h1{
  color: rgb(151, 130, 8);
  font-family: sans-serif;
  font-size: 38px;
  margin-left: 9%;
}

 
.nek3{
   margin-left: 69%;
   margin-top: -30%;
   width: 350px;
   height: 300px;
   border-radius: 50px;
   align-items: center;
   background-color: silver;
   width: 300px;
   
}
.csh3{
  background-color: silver;
  width: 150px;
  border-radius: 7px;
  text-align: center; 
  font-size: 20px;
  margin-left: 75%;
  font-family: sans-serif;
  margin-top: -1%;
  

}

.nek2{
  margin-left: 35%;
  margin-top: -30%;
  width: 350px;
  align-items: center;
  border-radius: 50px;
  height: 300px;
  background-color: silver;
  border-radius: 50px;
  width: 300px;
  align-items: center;
}
.csh2{
  background-color: silver;
  width: 150px;
  border-radius: 7px;
  text-align: center; 
  font-size: 20px;
  margin-left: 41%;
  font-family: sans-serif;
  margin-top: 1%;
  
  

}

.nek1{
  margin-left: 3%;
  margin-top: 5%;
  background-color: silver;
  width: 300px;
  border-radius: 50px;
 
}
.csh1{
  background-color: silver;
  width: 150px;
  border-radius: 7px;
  text-align: center; 
  font-size: 20px;
  margin-left: 9%;
  font-family: sans-serif;
  

}

.sec h1{
  font-size: 30px;
  font-family: sans-serif;
  margin-left: 36%;
  background-color: silver;
  width: 300px;
  text-align: center;
  border-radius: 7px;
  margin-top: 8%;
}
.rings h1{
  margin-left: 40%;
  font-size: 40px;
  background-color: silver;
  width: 170px;
  text-align: center;
  border-radius: 10px;
  margin-top: 6%;
}

.rin1{
  margin-left: 3%;
  margin-top: 8%;
  background-color: silver;
  width: 300px;
  border-radius: 50px;
}
.rinn1{
  background-color: silver;
  width: 120px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 8%;
}

.rin2{
  margin-left: 36%;
  margin-top: -29%;
  background-color: silver;
  width: 300px;
  border-radius: 50px;
}
.rinn2{
  background-color: silver;
  width: 120px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 43%;
}

.rin3{
  margin-left: 70%;
  margin-top: -28.5%;
  background-color: silver;
  width: 300px;
  border-radius: 50px;
}
.rinn3{
  background-color: silver;
  width: 120px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 77%;
}
.rii1{
  background-color: silver;
  width: 290px;
  border-radius: 50px;
  margin-left: 5%;
  margin-top: 5%;
}
 .rii2{
  background-color: silver;
  width: 290px;
  border-radius: 50px;
  margin-left: 37%;
  margin-top: -18.4%;
  height: 230px;
  align-items: center;
 }

 .rii3{
  background-color: silver;
  width: 290px;
  border-radius: 50px;
  margin-left: 68%;
  margin-top: -18.4%;
  height: 237px;
  align-items: center;
 }

 .hov{
   margin-top: 9%;
   background-color: rgb(12, 6, 6);
   
   height: 400px;
 }
 .hov h1{
   margin-left: 40%;
   color: rgb(255, 255, 255);
 }
 .list{
   margin-left: 10px;
   font-size: 70px;
 }
 .fom{
   background-color: rgb(164, 246, 116);
   width: 450px;
   margin-left: 58%;
   margin-top: -17%;
   text-align: center;
   border-radius: 50px;
   height: 150px;
 }
 .fom h1{
   margin-left: 8%;
 }
 .info{
   background-color: aquamarine;
   width: 350px;
   border-radius: 40px;
   height: 60px;
   margin-left: 11%;
   margin-top: -2%;
 }
 button{
   border-radius: 30px;
   margin-left: 75%;
   margin-top: -39%;
 }
 .info p{
   margin-left: 10%;
 }
 hoover{
   background-color: aqua;
 }